<p-toast></p-toast>

<p-card *ngIf="spotAccounts$ | async as spotAccounts" class="container margined-card" header="Send Money">
  <div class="horizontal-block" [style]="{width: '1000px'}">
    <p></p>
    <app-addbuddy-dialog [(recipientUsers$)]="recipientUsers$"></app-addbuddy-dialog>
  </div>

  <div *ngIf="recipientUsers$ | async as recipientUsers" class="horizontal-block grey-block" [formGroup]="paymentForm">
    <p-dropdown placeholder="<Buddy>" [required]="true" optionValue="email" optionLabel="email"
                [options]="recipientUsers" formControlName="selectedEmail">
      <ng-template let-option pTemplate="item">
        <span>{{option.email}}</span>
      </ng-template>
    </p-dropdown>

    <p-dropdown class="margined" placeholder="<Account>" [required]="true" optionValue="currency" optionLabel="currency"
                [options]="spotAccounts" formControlName="selectedCurrency">
      <ng-template let-option pTemplate="item">
        <span>{{option.currency}}</span>
      </ng-template>
    </p-dropdown>

    <p-inputNumber class="margined" formControlName="amount" [showButtons]="true" [required]="true" mode="decimal"
                   locale="fr-FR" [min]="0" [max]="1000"
                   [step]="10" placeholder="0,00"></p-inputNumber>

    <input placeholder="<Description>" class="margined" type="text" pInputText formControlName="description"/>

    <button class="margined p-button-success" (click)="OnPay()" pButton type="button" label="Pay"></button>

  </div>

</p-card>

<p-card *ngIf="payments$  | async as payments" class="container margined-card" header="My Transactions">
  <p-table [style]="{width: '1000px'}" [value]="payments" sortField="dateTime" [sortOrder]="-1"
           [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
           currentPageReportTemplate="Showing {last} to {first} of {totalRecords} entries"
           [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th id="datetime" style="width:20%">Date</th>
        <th id="transaction" style="width:15%">Transaction</th>
        <th id="description" style="width:40%">Description</th>
        <th id="netAmount" style="width:15%">Amount</th>
        <th id="fee" style="width:5%">Fee</th>
        <th id="status" style="width:5%">Status</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-payment>
      <tr>
        <td>{{payment.dateTime | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td>{{payment.recipientEmail | transaction: payment.emitterEmail}}</td>
        <td>{{payment.description}}</td>
        <td>{{payment.netAmount | currency: payment.currency : true : '1.2-2' | amount: payment.recipientEmail}}</td>
        <td>{{payment.grossAmount - payment.netAmount | currency: payment.currency : "symbol" : '1.2-2'}}</td>
        <td><span
          [class]="'status-' + (payment.processed ? 'processed' : 'pending')">{{payment.processed | processed}}</span>
        </td>
      </tr>
    </ng-template>

    <div [style]="{width: '1000px'}">
      <p></p>
    </div>
  </p-table>
</p-card>

<p-confirmDialog key="paymentdialog" [style]="{width: '450px'}"></p-confirmDialog>
