<div class="login-block">

  <p-card class="main-card" header="Log In" subheader="If you have an existing account" [style]="{width: '480px'}"
          styleClass="p-card-shadow">
  <div class="centered">

    <span class="p-float-label margined">
      <input id="float-email" type="text" pInputText/>
    <label for="float-email">Email</label>
</span>

    <span class="p-float-label margined">

    <p-password id="float-password"></p-password>
    <label for="float-password">Password</label>
    </span>

    <div id="checkbox-id">
      <p-checkbox name="groupname" value="val1" label="Remember me"></p-checkbox>
    </div>
  </div>

    <ng-template pTemplate="footer">
      <div class="centered">
      <p-button label="Log In"></p-button>
      </div>
    </ng-template>

  </p-card>


  <p-card class="main-card" header="Create Account" subheader="If you are a new customer" [style]="{width: '480px'}"
          styleClass="p-card-shadow">
    <div class="centered">

    <span class="p-float-label margined">
      <input id="float-new-email" type="text" pInputText/>
    <label for="float-new-email">Email</label>
</span>

      <span class="p-float-label margined">
    <p-password id="float-new-password"></p-password>
    <label for="float-new-password">Password</label>
    </span>

      <span class="p-float-label margined">
    <p-password id="float-new-password-confirm"></p-password>
    <label for="float-new-password-confirm">Confirm password</label>
    </span>

    </div>

    <ng-template pTemplate="footer">
      <div class="centered">
        <p-button label="Sign In"></p-button>
      </div>
    </ng-template>

  </p-card>
</div>

