<header>
  <h1>Pay My Buddy</h1>
  <nav>
    <a routerLink="paymybuddy" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }">Home
    </a>
    <a routerLink="paymybuddy/transfer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }">Transfer
    </a>
    <a routerLink="paymybuddy/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }">Profile
    </a>
    <a routerLink="paymybuddy/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }">Contact
    </a>
    <a routerLink="paymybuddy/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }">Log in
    </a>
  </nav>
</header>
