<header>
  <button (click)="onReturnHome()" pButton type="button" label="Pay My Buddy" class="p-button-success p-button-lg"></button>
  <nav>
    <a (click)="onReturnHome()">Home
    </a>
    <a (click)="onGoToTransfer()">Transfer
    </a>
    <a (click)="onGoToProfile()">Profile
    </a>
    <a (click)="onGoToContact()">Contact
    </a>
    <a (click)="onGoToAccount()">Account
    </a>
  </nav>
  <div class="greyband">Home / <span class="grey">{{activePageName | titlecase}}</span>
  </div>
</header>
