<p-card *ngIf="!(currentUser$ | async) as currentUser" header="Log In" subheader="If you have an existing account"
        styleClass="p-card-shadow">
  <form [formGroup]=loginForm>
    <div class="container centered">

    <span class="p-float-label margined">
      <input id="float-email" type="email" formControlName="email" pInputText/>
    <label for="float-email">Email *</label>
</span>

      <span class="p-float-label margined">

    <p-password id="float-password" formControlName="password"></p-password>
    <label for="float-password">Password *</label>
    </span>


      <div class="margined2">
        <p-checkbox [binary]="true" label="Remember me"
                    formControlName="rememberMe"></p-checkbox>
      </div>
    </div>


    <div class="container centered">
      <button [disabled]="loginForm.invalid" (click)="onSubmitForm()" pButton type="submit" label="Log In"
              class="p-button-primary"></button>
    </div>

  </form>
  <div>
    <p>* Required</p>
  </div>
</p-card>

