<p-card *ngIf="!(currentUser$ | async) as currentUser" header="Log in" subheader="with an existing account"
        styleClass="p-card-shadow" class="container margined">


  <form [formGroup]=loginForm>
    <div class="container centered">

    <span class="p-float-label margined">
      <input id="float-email" type="email" formControlName="email" pInputText/>
    <label for="float-email">Email *</label>
</span>

      <span class="p-float-label margined">

    <p-password id="float-password" formControlName="password"></p-password>
    <label for="float-password">Password *</label>
    </span>

    </div>


    <div class="container centered margined">
      <button [disabled]="loginForm.invalid" (click)="onSubmitForm()" pButton type="submit" label="Log In"
              class="p-button-primary"></button>
    </div>

  </form>
  <div>
    <p>* Required</p>
      <a routerLink="../create-account" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }">No account yet? Create one!
      </a>
  </div>
</p-card>
