.send-money-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horizontal-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grey-block {
  background-color: #EEE;
  padding: 50px 100px 50px 100px;
  margin-top: 10px;
}

#pay-button {
  padding-right: 80px;
  padding-left: 80px;
}
