<p-card *ngIf="currentUser$ | async as currentUser" header="Logged in" subheader="as a registered user"
        styleClass="p-card-shadow">

  <p><b>Email: </b>{{currentUser.email}}</p>
  <p><b>Password: </b>**********</p>
  <p><b>First Name: </b>{{currentUser.firstName}}</p>
  <p><b>Last Name: </b>{{currentUser.lastName}}</p>

    <div class="container centered">
      <button (click)="onLogout()" pButton type="submit" label="Log Out"
              class="p-button-primary"></button>
    </div>
</p-card>

