<header>
  <button (click)="onReturnHome()" pButton type="button" label="Pay My Buddy" class="p-button-success p-button-lg"></button>
  <nav>
    <a routerLink="paymybuddy" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }">Home
    </a>
    <a routerLink="paymybuddy/pmb/transfer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }">Transfer
    </a>
    <a routerLink="paymybuddy/pmb/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }">Profile
    </a>
    <a routerLink="paymybuddy/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }">Contact
    </a>
  </nav>
  <div class="greyband">Home / <span class="grey">{{activePageName | titlecase}}</span>
  </div>
</header>
