<p-card header="My Transactions">

    <p-table *ngIf="payments$  | async as payments" [style]="{width: '1000px'}" [value]="payments" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {last} to {first} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th id="dateTime" style="width:14%">Date</th>
          <th id="recipient" style="width:14%">Buddy</th>
          <th id="description" style="width:20%">Description</th>
          <th id="netAmount" style="width:25%">Amount</th>
          <th id="feePercent" style="width:8%">Fee %</th>
          <th id="currency" style="width:5%">Currency</th>
          <th id="processed" style="width:14%">Processed</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-payment>
        <tr>
          <td>{{payment.dateTime}}</td>
          <td>{{payment.recipient}}</td>
          <td>{{payment.description}}</td>
          <td>{{payment.netAmount}}</td>
          <td>{{payment.feePercent}}</td>
          <td>{{payment.currency}}</td>
          <td>{{payment.processed}}</td>
        </tr>
      </ng-template>

      <div [style]="{width: '1000px'}">
        <p> </p>
      </div>
      <!--<ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>-->
    </p-table>

</p-card>

