.transfer-page-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.margined {
  margin: 0 10px 0 10px;
}

