.button-block  {
  justify-content: space-evenly;
  margin-top: 50px;
}

.margined {
  margin: 0px 5px 20px 5px;
}

.main-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 300px;
}

.items {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 30px;
}
