<p-card header="Profile">
  <div class="profile-contents" [style]="{width: '1000px'}">
    <div>
      <p><b>Email: </b>{{currentUser().email}}</p>
      <p><b>First name: </b>{{currentUser().firstName}}</p>
      <p><b>Last name: </b>{{currentUser().lastName}}</p>
    </div>
    <div>
      <p-tag severity="warning" value="Unverified account" icon="pi pi-check"></p-tag>
    </div>

  </div>
  <div class= "container button-block">
    <button (click)="onEditProfile()" pButton class="p-button-secondary" type="button" label="Edit profile" ></button>
    <button (click)="onLogout()" pButton class="p-button-primary" type="button" label="Log Out" ></button>
  </div>
</p-card>

<p-dialog [(visible)]="dialog" [style]="{width: '450px'}" header="Edit profile" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div class="field">
      <label>Email</label>
      <input [defaultValue]="currentUser().email" type="text" pInputText id="dialogemail" [(ngModel)]="email" required autofocus />
      <small class="p-error" *ngIf="submitted && (email.length === 0)">Email is required.</small>
    </div>
    <div class="field">
      <label>Password</label>
      <input [defaultValue]="currentUser().password" type="password" pInputText id="dialogpassword" [(ngModel)]="password" required autofocus />
      <small class="p-error" *ngIf="submitted && ((password.length < 6) || (currentUser().password.length > 20))">Password must be between 6-20 characters.</small>
    </div>
    <div class="field">
      <label>Confirm password</label>
      <input type="password" pInputText id="dialogconfirmpassword" [(ngModel)]="confirmedPassword" required autofocus />
      <small class="p-error" *ngIf="submitted && (confirmedPassword != password)">Password fields don't match.</small>
    </div>
    <div class="field">
      <label>First Name</label>
      <input [defaultValue]="currentUser().firstName" type="text" pInputText id="firstname" [(ngModel)]="firstName" required autofocus />
      <small class="p-error" *ngIf="submitted && ((firstName.length > 20) || firstName.length === 0)">First name must be 1-20 characters.</small>
    </div>

    <div class="field">
      <label>Last Name</label>
      <input [defaultValue]="currentUser().lastName" type="text" pInputText id="lastname" [(ngModel)]="lastName" required autofocus />
      <small class="p-error" *ngIf="submitted && ((lastName.length > 20) || lastName.length === 0)">Last name must be 1-20 characters.</small>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProfile()"></button>
  </ng-template>
</p-dialog>
