.profile-page-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.main-block {
  display: flex;
  justify-content: space-between;

}

.button-block  {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

