<div class="profile-page-block">
  <p-card header="John Smith"  class="main-block" [style]="{width: '1000px'}">
    <div  class="profile-contents">
      <p-avatar label="A" size="large"></p-avatar>
      <div>
        <p><b>Email:</b> john.smith@gmail.com</p>
        <p><b>Password:</b> *******</p>
        <p><b>First Name:</b> John</p>
        <p><b>Last Name:</b> Smith</p>
      </div>
      <div>
        <p-tag severity="success" value="Verified account" icon="pi pi-check"></p-tag>
      </div>

    </div>
    <div class="button-block">
      <button pButton class="p-button-secondary" pButton type="button" label="Edit profile" ></button>
      <button pButton class="p-button-primary" pButton type="button" label="Log Out" ></button>
    </div>
  </p-card>

  <p-card header="Spot Accounts" class="main-block" [style]="{width: '1000px'}">

    <p-table [value]="spotAccounts" [paginator]="true" [rows]="3" [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {last} to {first} of {totalRecords} entries"
             [rowsPerPageOptions]="[3,5,10]">
      <ng-template pTemplate="header">
        <tr>
          <th id="currency" style="width:50%">Currency</th>
          <th id="credit" style="width:50%">Credit</th>
        </tr>
      </ng-template>
    </p-table>

    <div class="button-block">
      <button pButton class="p-button-primary" pButton type="button" label="Add a Spot Account" ></button>
      <button pButton class="p-button-secondary" pButton type="button" label="Credit funds from Bank Account" ></button>
      <button pButton class="p-button-secondary" pButton type="button" label="Withdraw funds to Bank Account" ></button>
    </div>
  </p-card>

  <p-card header="Bank Accounts" class="main-block" [style]="{width: '1000px'}">

    <p-table [value]="bankAccounts" [paginator]="true" [rows]="3" [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {last} to {first} of {totalRecords} entries"
             [rowsPerPageOptions]="[3,5,10]">
      <ng-template pTemplate="header">
        <tr>
          <th id="name" style="width:30%">Name</th>
          <th id="iban" style="width:55%">IBAN</th>
          <th id="status" style="width:15%">Status</th>
        </tr>
      </ng-template>
    </p-table>

    <div class="button-block">
      <p-button class="container" label="Add a Bank Account"></p-button>
    </div>
  </p-card>

  <p-card header="Buddies" class="main-block" [style]="{width: '1000px'}">

    <p-table [value]="bankAccounts" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {last} to {first} of {totalRecords} entries"
             [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th id="email" style="width:33%">email</th>
          <th id="first-name" style="width:33%">First Name</th>
          <th id="last-name" style="width:33%">Last Name</th>
        </tr>
      </ng-template>
    </p-table>

    <div class="button-block">
      <p-button class="container" label="Add a Buddy"></p-button>
    </div>
  </p-card>
</div>
