<div *ngIf="currentUser$ | async as currentUser" class="column">
  <div  class="container margined-card">
    <app-profile [currentUser]="currentUser"></app-profile>
  </div>
  <div class="container margined-card">
    <app-spot-accounts [currentUser]="currentUser"></app-spot-accounts>
  </div>
  <div class="container margined-card">
    <app-bank-accounts [currentUser]="currentUser"></app-bank-accounts>
  </div>
  <div class="container margined-card">
    <app-buddies [currentUser]="currentUser"></app-buddies>
  </div>
</div>

