.margined-card {
  margin-top: 50px;
}

.horizontal-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grey-block {
  background-color: #EEE;
  padding: 50px 100px 50px 100px;
  margin-top: 10px;
}

.margined {
  margin-left: 5px;
  margin-right: 5px;
}

.button-block  {
  justify-content: space-evenly;
  margin-top: 50px;
}

.status-processed {
  border-radius: 3px;
  padding : 2px 4px 2px 4px;
  background-color: rgb(190, 225, 195);
}

.status-pending {
  border-radius: 3px;
  padding : 2px 4px 2px 4px;
  background-color: rgb(255, 200, 200);
}
