<p-card header="Create Account" subheader="If you are new"
        styleClass="p-card-shadow">

  <form [formGroup]=createForm>
  <div class="container centered">

    <span class="p-float-label margined">
      <input id="float-new-email" type="text" formControlName="email" pInputText/>
    <label for="float-new-email">Email *</label>
</span>

    <span class="p-float-label margined">
    <p-password id="float-new-password" formControlName="password"></p-password>
    <label for="float-new-password">Password *</label>
    </span>

    <span class="p-float-label margined2">
    <p-password id="float-new-password-confirm" formControlName="confirmedPassword"></p-password>
    <label for="float-new-password-confirm">Confirm password *</label>
    </span>

  </div>

    <div class="container centered">
      <p-button [disabled]="createForm.invalid" (click)="onSubmitForm()" label="Sign In"></p-button>
    </div>

  </form>
  <div>
    <p>* Required</p>
  </div>
</p-card>
